<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light ">
      <ul class="nav navbar-nav float-left" routerLinkActive="active">
          <li class="nav-item"> <img class="ima" src="https://th.bing.com/th/id/R.374f41bef89b40f70e402cd0d65fe957?rik=2fduIEoh4Xmlmg&riu=http%3a%2f%2fwww.pages.drexel.edu%2f~mjg92%2fimg%2fheadingImgs%2fheadingPortfolio.png&ehk=Hp9%2bjx8IeivgMjQUrKcHIyYgvsJJeaZOafWzW7miFyw%3d&risl=&pid=ImgRaw&r=0"
                  alt="image"><a class="btn" routerLink="/">myPortFolio</a></li>
      </ul>
      <ul class="nav navbar-nav " style="margin-left: 70%" routerLinkActive="active">
          <li class="nav-item"><a class=" btn" routerLink="/signin" style="margin: 5px;">Sign In</a></li>
          <li class="nav-item"><a class="btn" routerLink="/signup" style="margin: 5px">Sign Up</a> </li>
      </ul>
  </nav>
  <div class="container">
      <router-outlet></router-outlet>
  </div>
</div>